<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />

	<link rel="icon" type="image/x-icon" href="/favicon.jfif">

	<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	<title>{{#if title}}
		{{title}}
		{{else}}
		Campgrounds
		{{/if}}
	</title>

</head>

<body class="d-flex flex-column vh-100 position-relative">

	{{>notify}}

	{{#if nav}}
	{{>navbar}}
	{{/if}}

	<main class='container mt-5'>
		{{{body}}}
	</main>

	{{>footer}}



	<script src='/bootstrap/js/bootstrap.bundle.min.js'></script>

	<script src='/validateForms.js'></script>
</body>

</html>