<main class="vh-100 home-container d-flex">
    <nav class="navbar bg-transparent navbar-expand-lg navbar-dark fixed-top">
        <div class='container'>
            <a class='navbar-brand' href='#'>YelpCamp</a>
            <button class='navbar-toggler' type='button'
                data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup'
                aria-controls='navbarNavAltMarkup' aria-expanded='false'
                aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
            </button>

            <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
                <div class='navbar-nav flex-grow-1 justify-content-end'>
                    <a class='nav-link' href='/'>Home</a>
                    <a class='nav-link' href='/campgrounds'>Campgrounds</a>
                    {{#if user}}
                    <a class='nav-link' href='/logout'>Logout</a>
                    {{else}}
                    <a class='nav-link' href='/login'>Login</a>
                    <a class='nav-link' href='/register'>Register</a>
                    {{/if}}

                </div>
            </div>

        </div>
    </nav>

    <div class="text-white m-auto container text-center">
        <h1>YelpCamp</h1>
        <p>
            Welcome to YelpCamp! <br> Jump right in and explore our many
            campgrounds. <br>
            Feel free to share some of your own and comment on others!
        </p>

        <a class="btn btn-light fw-bold" href="/campgrounds">
            View Campgrounds
        </a>
    </div>

</main>